body {
	background-image: url(https://i.pinimg.com/originals/02/19/46/02194648c2d7d02dd5a1d841dc4c8bee.png);
	background-size: cover;
	font-family: 'Do Hyeon', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

#header {
	text-align: center;
	margin: 1rem;
}

#header h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

#header h3 {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

#gamespace {
	width: 80%;
	/*height: 50px;*/
	display: grid;
	grid-gap: 1%;
	grid-template-columns: repeat(4,1fr);
	margin-bottom: 1rem;
}

img {
	width: 100%;
	border-radius: 20%;
	filter: brightness(0);
	transition: filter 0.5s;
}

#control {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
}

#control h2 {
	font-size: 1rem;
	margin: 0;
	text-align: center;
}

#reset {
	background-color: #008CBA;
	font-family: 'Do Hyeon', sans-serif;
	border-radius: 10%;
}
